<ng-template [ngIf]="verifiziert">
  <div class="card-wrapper">
    <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar>check</mat-icon>
          Verifizierung
        </mat-card-header>
        <mat-card-content>
            <p>{{ msg }}</p>
        </mat-card-content>
      </mat-card>
  </div>
</ng-template>
<ng-template [ngIf]="!verifiziert">
  <div class="card-wrapper">
    <mat-card>
        <mat-card-header class="mat-card-header">
          <mat-icon mat-card-avatar>warning</mat-icon>
          <div class="div">
            Verifizierung
          </div>
        </mat-card-header>
        <mat-card-content>
            <br><p>{{ msg }}</p>
        </mat-card-content>
      </mat-card>
  </div>
</ng-template>
